.result{
  background-color: red;
  color: white;

}
#attribute{
    display: flex;
    flex-direction: row;
}
#Player,#ai{
    width: 60%;
    height: 150px;
    padding: 0em 1em;
    margin: 0.5% 1.3%;
    font-weight: bold;
    color: #40ff00;
    background: #FFF;
    border: solid 6px #0175fabd;
    border-radius: 20px;
    
}
p{
    text-align: center;
}
.janken-img {
    width: 30%;
    height: 150px;
}
#startButton {
    display: block;
    margin: auto;
    }
    .btn--orange {
        color: #fff;
        background-color: #eb6100;
      }
      
      .btn--orange:hover :not(:disabled) {
        color: #fff;
        background: #f56500;
      }
      
      .btn--shadow {
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      }
      
      .btn--circle {
        border-radius: 50%;
        line-height: 100px;
        width: 100px;
        height: 100px;
        padding: 0;
      }
      body {
        
      }

  *:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}